body{
	font-size: 18px;
	font-family: sans-serif;
	margin: 10px;
	padding: 10px;
}

#logout {
	display: inline-block;
}

a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #229;
	background: #EEE;// !important;
	font-size: 16px;
	padding: 10px 30px;// !important;
	/*border is optional*/
	border: 1px solid #444; 
	border-radius: 15px;
	box-shadow: inset 0 -5px 2px 2px #DDD, inset 0 5px 2px 2px white;
}

a:hover{
	color: #66D;
}

.selected {
	background: #229 !important;
  color: #EEE !important;
	box-shadow: none !important;
}

.textarea {
	width: 700px;
	height: auto;
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px dashed black;
	min-height: 1.5em;
	font-size: 14px;
	background-color: #FAFAFA;
}

textarea {
	width: 700px;
	height: 100px;
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 14px;
	background-color: #FAFAFA;
}

label {
	display: block;
	margin: 20px 10px 0px;
}

input { 
	display: block;
	margin: 10px;
}

select { 
	display: block;
	margin: 10px;
}

#add-issue{
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}

#loginform {
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	width: 300px;
}

ul {
	display: block;
	margin: 10px;
	padding: 10px;
	height: 38px;
	border: 1px solid black;
}

ul li {
	float: left;
	margin-right: 10px;
}

.li-right {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

.issue-title {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
	height: 38px;
	line-height: 38px;
	font-size: 24px;
}

#issue-list-box{
	width: 100%;
}

#issue-list{
	padding: 10px;
}

table {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 14px; 
	width: 100%;
	height: 1em;
}

table tr th{
	font-weight: bold;
	margin: 0;
	padding: 10px;
	border: 1px solid black;
}

table tr td{
	margin: 0;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
	min-width: 80px;
}

.info{
	display: inline-block;
	border: 1px solid black;
	padding: 0px 10px;
	margin: 0px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}

.by {
	background-color: #FEE;
}

.assigned-to{
	background-color: #EFE;
}

.edit-time{
	background-color: #EEF;
}

.mark {
	font-weight: bold;
}

.msg{
	display: block;
	margin: 10px 0px;
	padding: 0px 0px 10px;
}

.button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #229;
  background: #EEE !important;
	font-size: 16px;
  padding: 10px 30px !important;
  /*border is optional*/
  border: 1px solid #444; 
	border-radius: 15px;
	box-shadow: inset 0 -5px 2px 2px #DDD, inset 0 5px 2px 2px white;
}

.button:hover{
	color: #66D;
}

.attachremover {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #229;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	font-size: 10px;
	margin: 0 !important;
	padding: 0px !important;
	text-transform: uppercase;
}

.attachremover:hover{
	color: #66D;
}

.hide2 {
	//position: absolute;
	color: red;
}

.attachbutton {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #229;
	background: none;
	border: none;
	font-size: 10px;
	margin: 0;
	margin-left: 10px;
	padding: 0px;
	text-transform: uppercase;
}

.attachbutton:hover{
	color: #66D;
}

input[type="file"]
{
	opacity:0; 
	filter:alpha(opacity=0); 
	width:1px; 
	height: 1px;
	margin: 0px;
	padding: 0px;
}

.fileattached {
	font-size: 10px;
	margin-left: 10px;
	padding: 0px 0px 5px;
}

.attached {
	display: inline-block;
	padding: 0px 8px;
	margin: 0px 6px 4px 0px;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	border-radius: 7px;
	text-transform: none;
}

.attachs{
	display: block;
	margin: 0px;
	padding: 5px 0px 10px;
	font-size: 9px;
	min-height: 18px;
	line-height: 18px;
	text-transform: uppercase;
}